<h1>Display product page</h1>

    <div>Product name: <%= @product.name%></div>
    <div>Product description:<%= @product.description%></div>
    <div>Product amount:<%= @product.amount%></div>
    <div>Product curreny:<%= @product.currency%></div>

<%= link_to 'home page', products_path%>
